img.lazyload{
  width: 40px;
  text-align: center;
  
}
.category-rounded-inner {
    text-align: center;
    
    display: block;
    width: 100%;
   
    white-space: nowrap;
    pointer-events: auto;
    text-transform: uppercase;
    
    font-size: 9px;
}

.bottonerilievo{
    margin-right: auto;
    height: 80px;
    width: 100%;
    margin-left: auto;
}

ion-col.md.hydrated {
  text-align: center;
}

h1{
  text-transform: uppercase;
  padding-left: 20px;
  font-size: large;
}

//.bottonerilievo:hover {--background-hover: #333333}