img.lazyload{
  width: 40px;
  text-align: center;
  
}
.category-rounded-inner {
    text-align: center;
    
    display: block;
    width: 100%;
   
    white-space: nowrap;
    pointer-events: auto;
    text-transform: uppercase;
    
    font-size: 9px;
}

.bottonerilievo{
    margin-right: auto;
    height: 80px;
    width: 70px;
    margin-left: auto;
}