<ion-header class="ion-no-border" [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/" icon="chevron-back"></ion-back-button>
    </ion-buttons>
    <ion-title>FINANCE</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
  <ion-list class="ios list-ios hydrated" >
    <ion-list-header class="ios hydrated">
      FINANCE
    </ion-list-header>

    <ion-item *ngFor="let finan of finance">
      <ion-item href="{{finan.href}}" >
       <ion-thumbnail slot="start" class="ios hydrated">
        <img [src]="'' + finan.immagine">
      </ion-thumbnail>
      <ion-label>
        <h2>{{finan.titolo}}</h2>
        <!--<h3></h3>-->
        <p>Descrizione: {{finan.descrizione}}</p>
      </ion-label>
    </ion-item>
    </ion-item>
  </ion-list>

</ion-content>